.emailContainer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 8px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 24px;

  align-items: center;
}
