<div class="content">
  <section class="sHeader">
    <img src="../../../../assets/imgs/google.svg" alt="" />
    <h1>Welcome</h1>
    <div class="emailContainer">
      {{ email }}
      <span class="pi pi-user"></span>
    </div>
  </section>
  <section class="sContent">
    <form [formGroup]="form" (ngSubmit)="form.valid && nextButton()">
      <span class="p-float-label">
        <input pInputText id="password" formControlName="password"/>
        <label htmlFor="username">Password</label>
      </span>
      <p-button styleClass="p-button-link forgotEmail">Forgot email?</p-button>
      <p class="information">
        Not your computer? Use Guest mode to sign in privately.
      </p>
      <p-button styleClass="p-button-link learnMore">Learn more</p-button>
      <div class="buttons">
        <p-button styleClass="p-button-link createAccount"
          >Create account</p-button
        >
        <p-button
          type="submit"
          label="Login"
          styleClass="nextButton"
        ></p-button>
      </div>
    </form>
  </section>
</div>
